 body {
	background-color: #f44265;
}
h1 {
	text-align: center;
	color: white ;
	background-size:100% 100%;



}


.center{
	text-align:center;
	border-radius: 50%;
	background-image:url("home/wecode/Desktop/20106403_10154944702170889_7685104861508943702_n.jpg");


}
p {
	text-align: left;
	color: white ;
	background-size:100% 100%;




}

textarea{
	 width :500px;
	 height:auto;
	 resize:none;
	 
 

}



 