 body {
	background-color:gray;
}
h1 {
	text-align: center;
	color: white ;
	background-size:100% 100%;



}

p {
	text-align: right;
	color: white ;
	background-size:100% 100%;




}

textarea{
	 width :500px;
	 height:auto;
	 resize:none;
	 
 

}



 