 
{%extends "layout.html"%}
 
{%block body%}
 

<h1> information about me </h1>
<div>
<div class="makecentered">	 



	<img src= "../static/images/hala.jpg" height= "200px" width = "200px"/> 

</div>
<p> my hoppies </p>

<div>
<div class="makecentered">	
	<img src= "../static/images/hala.jpg" height= "200px" width = "200px"/>


</div>
<p> my school </p>


<div>
<div class="makecentered">	
	<img src= "../static/images/hala.jpg" height= "200px" width = "200px"/>


</div>
<p>  what i want to be </p> 



{%endblock%}

