 
{%extends "layout.html"%}

{%block head%}

<link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">





</div>

{%endblock%}
{%block body%}

<h1> report a boutmy favorite things</h1>


<h2> {{san}} </h2>

<p> these are my favorite things in my life</p>

<ol> 
	<li> my mobile </li>

	<li> my family </li>
	
</ol>




<a href = "http://www.google.com" target="null">lets google it  </a>








<div class = "right">
	<img class="center" src="../static/images/hala.jpg"height= "300px" width = "300px" />
</div>
<div class="makecentered">	 



	<img src= "../static/images/hala.jpg" height= "200px" width = "200px"/>





	<img src= "../static/images/hala.jpg" height= "200px" width = "200px"/>




	<img src= "../static/images/hala.jpg" height= "200px" width = "200px"/>



	<img src= "../static/images/hala.jpg" height= "200px" width = "200px"/>






	
	{%endblock%}

