 
{%extends "layout.html"%}

{%block head%}

<link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">





</div>

{%endblock%}
{%block body%}

<h1> report a bout myself </h1>


<h2> {{san}} </h2>

<p> how am i ? </p>

<ol> 
	<li> i am hala </li> <br>

	<li> i am 16 yers old</li> <br>


	<li> i have 2 sisters and 2 brother</li><br>

	<li> i study in al shohada high school</li><br>

</ol>




<a href = "http://www.google.com" target="null">lets google it  </a>








<div class = "right">
	<img class="center" src="../static/images/hala.jpg"height= "300px" width = "300px" />
</div>
<div class="makecentered">	 



	<img src= "../static/images/hala.jpg" height= "200px" width = "200px"/>





	<img src= "../static/images/hala.jpg" height= "200px" width = "200px"/>




	<img src= "../static/images/hala.jpg" height= "200px" width = "200px"/>



	<img src= "../static/images/hala.jpg" height= "200px" width = "200px"/>







	{%endblock%}

